.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Thumbs.db
/public
/resources
.hugo_build.lock
static/uploads/TextbookErrata.aux
static/uploads/TextbookErrata.log
static/uploads/TextbookErrata.synctex.gz
